.gradient-text-spot {
  display: inline-block;
  color: transparent;
  font-weight: 400;
  font-size: 120px;
  font-style: normal;
  line-height: 140px;
  background: radial-gradient(circle 80px at var(--x, 50%) var(--y, 50%),
      #ff009a99 0%,
      #5c93ff66 40%,
      transparent 70%);
  background-clip: text;
  -webkit-background-clip: text;
  filter: blur(5px) brightness(0.7) grayscale(0.5);
  transition: background 0.5s, filter 0.3s;
  cursor: pointer;
}

.gradient-text-spot.hovered {
  filter: brightness(1.2) grayscale(0);
}