.subject {
  --animation-duration: 0.8s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-card, 296px);
  min-height: var(--size-card, 296px);
  overflow: hidden;
}

.subject_L {
  --scale-l: 0.452;
  --translate-person-y-l: 72px;
  --translate-person-x-l: -37px;

  --scale: var(--scale-l);
  --translate-person-y: var(--translate-person-y-l);
  --translate-person-x: var(--translate-person-x-l);
}

.subject_M {
  --scale-m: 0.7;
  --translate-person-y-m: -17px;
  --translate-person-x-m: -88px;

  --scale: var(--scale-m);
  --translate-person-y: var(--translate-person-y-m);
  --translate-person-x: var(--translate-person-x-m);
}

.subject_S {
  --scale-s: 1;
  --translate-person-y-s: -37px;
  --translate-person-x-s: -84px;

  --scale: var(--scale-s);
  --translate-person-y: var(--translate-person-y-s);
  --translate-person-x: var(--translate-person-x-s);
}

.subject_mobile {
  --scale-s: 1;
  --translate-person-y-s: -37px;
  --translate-person-x-s: 0px;

  --scale: var(--scale-s);
  --translate-person-y: var(--translate-person-y-s);
  --translate-person-x: var(--translate-person-x-s);
}

.subject_decorated:not(.subject_mobile)::after {
  content: "";
  position: absolute;
  top: 24%;
  right: -40px;
  width: 40px;
  height: 88px;
  opacity: 0;
  background-image: url("../../../assets/icons/person_paginator_segment.svg");
  transition: transform var(--animation-duration) ease, opacity var(--animation-duration) ease;
}

.subject_decorated.subject_mobile::after {
  content: "";
  position: absolute;
  top: 24%;
  right: 20px;
  width: 40px;
  height: 88px;
  opacity: 1;
  background-image: url("../../../assets/icons/person_paginator_segment.svg");
}

.subject_decorated:not(.subject_mobile):hover::after {
  opacity: 1;
  transform: translateX(-153px);
}

.subject>:global(#person-frame) {
  transition: transform var(--animation-duration) ease;
  transform-origin: left top;
}

.subject:not(.subject_mobile):hover>:global(#person-frame) {
  transform: scale(var(--scale)) translateY(var(--translate-person-y)) translateX(var(--translate-person-x));
}

.subject:not(.subject_mobile):hover>:global(#person-info) {
  bottom: 8px;
  opacity: 1;
}

.subject_mobile>:global(#person-frame) {
  transform: scale(var(--scale)) translateY(var(--translate-person-y)) translateX(var(--translate-person-x));
}

.subject>:global(#person-info) {
  --bottom-position: -104px;
  --animation-duration: 1s;
  position: absolute;
  opacity: 0;
  bottom: var(--bottom-position);
  left: 8px;
  transition: bottom var(--animation-duration) ease, opacity var(--animation-duration) ease;
}

.subject_mobile>:global(#person-info) {
  bottom: 8px;
  left: unset;
  opacity: 1;
}