.contacts-ivn {
  display: flex;
  flex-direction: column;
}

.contacts-ivn__top {
  display: flex;
  flex-direction: column;
}

.contacts-ivn__span::before {
  content: "[";
}

.contacts-ivn__span::after {
  content: "/]";
}