.trailer {
  position: relative;
  align-self: center;
}

.trailer__video {
  width: 100%;
  height: 100%;
}

.trailer__button {
  position: absolute;
  inset: 0;
  transition: opacity 1s;
  cursor: pointer;
}

.trailer__button_hidden {
  opacity: 0;
}

.trailer__button_shown {
  opacity: 1;
}