.position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.position svg {
  color: var(--white100);
}

.position__body {
  color: var(--dark100);
  background-color: var(--white100);
  display: inline-flex;
  align-items: center;
}

.position__segment-left {
  margin-inline-end: -2px;
}

.position__segment-right {
  margin-inline-start: -1px;
}