.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button :is(.button__body_primary, .button__body_secondary) {
  color: var(--dark100);
}

.button:hover :is(.button__body_primary, .button__body_secondary) {
  color: var(--white100);
  background-color: var(--red);
}

.button:active :is(.button__body_primary, .button__body_secondary) {
  color: var(--dark100);
  background-color: var(--white100);
}

.button:hover .segment-right-primary {
  --circle: var(--pudge);
}

.button:active .segment-right-primary {
  --circle: var(--white100);
}

.button :is(svg, .button__body_ghost) {
  color: var(--fire);
}

.button:hover :is(svg, .button__body_ghost) {
  color: var(--red);
  border-color: var(--red);
}

.button:active :is(svg, .button__body_ghost) {
  color: var(--white100);
  border-color: var(--white100);
}

.button_contented {
  position: relative;
}

.button__segment_left {
  margin-inline-end: -2px;
}

.button__segment_right {
  margin-inline-start: -1px;
}

.button__body {
  padding-inline: 12px;
  display: inline-flex;
  align-items: center;
}

.button__body_contented {
  padding-inline: 0;
}

.button__body_contented svg {
  position: absolute;
  inset: 0;
  margin: auto;
}

.button__body_primary {
  height: 60px;
  background-color: var(--fire);
}

.button__body_secondary {
  height: 40px;
  background-color: var(--fire);
}

.button__body_ghost {
  height: 40px;
  background-color: transparent;
  border-block: 1px var(--fire) solid;
}

.button__body_ghost_contented {
  width: 17px;
}