.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.timer {
  color: #2ECC71;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: center;
}

/* Стили для разных разрешений экранов */
.timer_large {
  font-size: 128px;
}

.timer_mobile {
  font-size: 60px;
}