.graphic__container {
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.graphic__buttons {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}