.menu__item {
  font-family: "KharkivTone", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--white80);
  letter-spacing: 0.02em;
  padding-block: 8px;
}

.menu__item:hover {
  color: var(--white100);
}

.menu__item:active {
  border-bottom: 1px var(--fire) solid;
}