.socials {
  display: flex;
  flex-direction: row;
  max-height: 40px;
}

.socials__item {
  padding: 6px;
  color: var(--fire);
  min-width: 40px;
  min-height: 40px;
}

.socials__item:hover svg {
  color: var(--red);
}

.socials__item:active svg {
  color: var(--white100);
}