.socials {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.socials:hover>.socials__item {
  color: var(--red);
}

.socials:active>.socials__item {
  color: var(--white100);
}

.socials__item {
  padding: 6px;
  color: var(--fire);
}

.socials__item:hover {
  color: var(--red);
}

.socials__item:active {
  color: var(--white100);
}