.about {
  align-items: flex-start;
  justify-content: flex-start;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bordered-left {
  border-inline-start: 1px var(--fire) solid;
}

.bordered-right {
  border-inline-start: 1px var(--fire) solid;
}

.paddinged-left-large {
  padding-inline-start: 7.08vw;
}

.paddinged-left-desktop {
  padding-inline-start: 7.17vw;
}

.paddinged-left-laptop {
  padding-inline-start: 7.81vw;
}

.paddinged-left-tablet {
  padding-inline-start: 7.81vw;
}

.paddinged-left-mobile {
  padding-inline-start: 3.81vw;
}

.paddinged-right-large {
  padding-inline-end: 7.08vw;
}

.paddinged-right-desktop {
  padding-inline-end: 7.17vw;
}

.paddinged-right-laptop {
  padding-inline-end: 7.81vw;
}

.paddinged-right-tablet {
  padding-inline-end: 7.81vw;
}

.paddinged-right-mobile {
  padding-inline-end: 3.81vw;
}

.width-left-large {
  max-width: 60ch;
}

.width-left-desktop {
  max-width: 45ch;
}

.width-left-laptop {
  max-width: 38ch;
}


/* ddd */
.text__line {
  display: flex;
  flex-direction: row;
}

.text__block_style-1::before {
  content: "[";
  color: var(--white80);
}

.text__block_style-1::after {
  content: "],";
}

.text__block_style-2::before {
  content: ".:.";
}

.text__block_style-2::after {
  content: ":,";
}

.text__block_style-3::before {
  content: "{--";
}

.text__block_style-4::before {
  content: "{";
}

.text__block_style-4::after {
  content: "/}";
}