@import url(../src/fonts/fonts.module.css);

:root {
  --badge: #D8A48C;
  --pudge: #B87773;
  --light: #FFFFFF;
  --dark: #D9D9D9;

  font-family: "KharkivTone", sans-serif;
  text-decoration: none;

  color: var(--light);
  background-color: var(--badge);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--badge);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--light);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 370px;
  min-height: 100dvh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  body {
    background-image: url("./assets/bg_desk.png");
  }
}

@media (769px <= width <= 1199.9px) {
  body {
    background-image: url("./assets/bg_tab.png");
  }
}

@media (max-width: 768.9px) {
  html {
    background-image: url("./assets/bg_mob.png");
    background-size: cover;
    height: 100%;
  }
}