@import url(../src/fonts/fonts.module.css);

:root {
  --badge: #D8A48C;
  --pudge: #B87773;
  --light: #FFFFFF;
  --dark: #D9D9D9;
  --black: #000;

  font-family: "KharkivTone", sans-serif;
  font-weight: 400;
  text-decoration: none;

  color: var(--light);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 370px;
  min-height: 100dvh;
}

#root {
  width: 100%;
}

a {
  color: var(--badge);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--light);
  text-decoration: underline;
}