.scene {
  background: transparent;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  user-select: none;
  height: 150%;

}

.title {
  position: relative;
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
  line-height: 140px;
  font-family: "KharkivTone", sans-serif;
}

.title> :global(#base)>span::before {
  content: "";
  /* left: 0;
  top: 0; */
  position: absolute;
  display: block;
  width: 100%;
  border-radius: 10%;
  mask-image: radial-gradient(circle 168px at var(--x) var(--y), black 0%, black 30%, transparent 100%);
  z-index: 1;
}

.title> :global(#base)>span:first-child::before {
  left: 0;
  top: 0;
  height: 80px;
}

.title> :global(#base)>span:nth-child(2)::before {
  left: 0;
  top: 80px;
  height: 140px;
}

.title_blured span:nth-child(2)::before {
  background: transparent;
  backdrop-filter: blur(3px);
}

.title__base {
  -webkit-background-clip: text;
  background-clip: text;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .title__base > span {
  -webkit-background-clip: text;
  background-clip: text;
} */


.title__base_imaged {
  background-image: url(../../../assets/big_title.png);
  background-size: 100%;
  /* background-repeat: no-repeat;
  background-position: center; */
  color: transparent;
}

.title__base_colored {
  color: var(--white100);
}

.title__lit {
  color: transparent;
  /* background: linear-gradient(180deg, #F85600 0%, #FF1F00 100%);
  background-clip: text; */
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}