.person {
  position: relative;
  width: 248px;
  min-height: 248px;

  /* Размер среза */
  --cut-top: 63px;
  --cut-bottom: 61px;

  /* Обрезаем углы через clip-path */
  clip-path: polygon(var(--cut-top) 0%,
      /* верхний левый — срез */
      100% 0%,
      /* верхний правый */
      100% calc(100% - var(--cut-bottom)),
      /* нижний правый — срез */
      calc(100% - var(--cut-bottom)) 100%,
      /* нижний правый — срез */
      0% 100%,
      /* нижний левый */
      0% var(--cut-top)
      /* верхний левый — срез */
    );

  background: var(--white50);
  /* толщина рамки */
  padding: 2px;
  border-radius: 2px;
  position: relative;
}

.person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inherit;
  border-radius: inherit;
}

.person::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: url("../../../assets/icons/person_decor_top_left.svg") no-repeat center / contain;
  top: 0;
  left: 0;
}